body {
  background:#fafafa;
}
.admin-table-item:hover {
  cursor:pointer;
}
*:focus {
  outline: 0 !important;
}
.show-btn:hover {
  cursor:pointer;
  text-decoration: underline;
}
.show-btn{
  color:#454545;
}
.delete-btn:hover{
  cursor:pointer;
}
.jumbotron {
  margin-bottom:0px;
  height:100%;
}
.jumbotron .container:nth-child(1) {
  margin-bottom:15px;
}
.heading span {
  color:#ea2f10;
}
.form-control {
  margin: 10px;
}
.alert-info {
  margin-right: 10px;
  padding: 10px;
  margin-top: 7px;
}
#announce-view {
  margin-top: 50px;
}
#data-view {
  margin-top: 50px;
  display: none;
}
#panel-content ul li a {
  cursor: pointer;
}
#announce-view .panel-body input,
#announce-view .panel-body textarea {
  width: 95%;
}
#announce-view .panel-body button {
  margin-right: 20px;
}
#announce-view .delete-btn {
  font-size:0.7em;
  margin-bottom:5px;
  margin-right:10px;
}
#announce-view p {
  font-size:0.7em;
  margin-bottom:5px;
  margin-left:10px;
  font-style:italic;
}
.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.fileupload-radio {
  margin-top: 10px;
  margin-bottom: 10px;
}
.fileupload-radio-error {
  display: none;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;
}
@media screen\9 { /* Fixes for IE < 8 */
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}
.table {
  word-break: break-all;
}
.table p {
  font-size: 12px;
  font-weight: 500;
}
.row-files {
  margin-bottom: 200px;
}
.row-files .table thead th,
.row-files .table tbody tr td {
  text-align: center;
  vertical-align: middle;
}
.table .template-upload td,
.table .template-download td {
  vertical-align: middle;
}
.fileupload-progress .progress {
  margin: 20px;
  border-radius: 5px;
}
.fileupload-progress .progress .progress-bar {
  border-radius: 5px;
}
.template-upload .progress,
.template-upload .progress .progress-bar {
  border-radius: 5px;
  height: initial;
}
.template-upload .progress,
.template-upload td p {
  margin-bottom: 10px;
}
.delete-selected .btn {
  margin-top: 8px;
}